.custom-input {
  width: 80%;
  max-width: 300px;
  --background: transparent;
  --highlight-color-focused: #9eff00; // verde um pouco menos neon
  --min-height: 50px;

  border: 1px solid #9eff00;
  border-radius: 8px;
  padding: 0 12px;
  display: flex;
  align-items: center;

  ion-input {
    width: 100%;
    color: white;
    font-size: 16px;
    --placeholder-color: rgba(255, 255, 255, 0.5);
  }
}
