<ion-content [fullscreen]="true" class="ion-padding content-dark">
  <div class="logo-container">
    <img src="assets/logo.png" alt="Logo" />
  </div>

  <div class="text-title">
    Visualize um campeonato
  </div>

  <ion-item class="custom-input" lines="none">
    <ion-input
      placeholder="Código"
      [(ngModel)]="codigo"
      type="text">
    </ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="viewCampeonatoByCode()" [disabled]="!codigo">
    <ion-icon slot="start" name="eye-outline"></ion-icon>
    Visualizar Campeonato
  </ion-button>

  <div class="divider">Ou</div>

  <ion-button expand="block" class="google-button" (click)="signInWithGoogle()">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Entrar com Google
  </ion-button>
</ion-content>