<ion-content [fullscreen]="true" class="content-dark ion-padding">

  <app-header
    titulo="Equipes"
    [showBackButton]="true"
    (onAdd)="adicionarEquipe()"
  ></app-header>

  <ion-button
  expand="block"
  class="start-button"
  (click)="handleStartOrViewCampeonato()"
  [disabled]="!hasStarted && equipes.length < 2" >
    <ion-icon name="play" class="play-icon" *ngIf="!hasStarted"></ion-icon>
    {{ hasStarted ? 'Visualizar Campeonato' : 'Começar Campeonato' }}
  </ion-button>

  <ion-text
    color="danger"
    *ngIf="!hasStarted && equipes.length < 2"
  >
    <p class="ion-text-center">
      Adicione pelo menos 2 equipes para começar o campeonato.
    </p>
  </ion-text>

  <div class="card-list">
    <ion-card
      *ngFor="let item of equipes"
      class="team-card"
    >
      <ion-card-content class="team-card-content">
        <span (click)="abrirEquipe(item)">
          {{ item.nome }}
        </span>
        <div class="actions">
          <ion-button fill="clear" (click)="editarEquipe(item)" class="edit-button">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="excluirEquipe(item)" class="delete-button">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>