<ion-content [fullscreen]="true" class="content-dark ion-padding">

  <app-header
    titulo="Equipes do<br/>campeonato"
    [showBackButton]="true"
    (onAdd)="adicionarEquipe()"
  ></app-header>

  <ion-button
  expand="block"
  class="start-button"
  (click)="handleStartOrViewCampeonato()"
  [disabled]="!hasStarted && equipes.length < 2" >
    <ion-icon name="play" class="play-icon" *ngIf="!hasStarted"></ion-icon>
    {{ hasStarted ? 'Visualizar Campeonato' : 'Começar Campeonato' }}
  </ion-button>

  <ion-text
    color="danger"
    *ngIf="!hasStarted && equipes.length < 2"
  >
    <p class="ion-text-center">
      Adicione pelo menos 2 equipes para começar o campeonato.
    </p>
  </ion-text>

  <app-card-list
    [items]="getEquipeNomes()"
    (onItemClick)="abrirEquipe($event)"
  ></app-card-list>

</ion-content>