<ion-content [fullscreen]="true" class="content-dark ion-padding">

  <app-header
    titulo="Campeonatos"
    (onAdd)="adicionarCampeonato()"
  ></app-header>

  <ion-item class="search-input" lines="none">
    <ion-icon name="search-outline" slot="start"></ion-icon>
    <ion-input
      placeholder="Pesquisar campeonato"
      [(ngModel)]="filtro"
      clearInput
    ></ion-input>
  </ion-item>

  <div class="card-list">
    <ion-card
      *ngFor="let campeonato of getFilteredCampeonatos()"
      class="championship-card"
    >
      <ion-card-content class="championship-card-content">
        <span (click)="abrirCampeonato(campeonato)">
          {{ campeonato.nome }}
        </span>
        <div class="actions">
          <ion-button fill="clear" (click)="editarCampeonato(campeonato)" class="edit-button">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="excluirCampeonato(campeonato)" class="delete-button">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>